@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-[#3a5a70]/70 text-white leading-loose;
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }

  .text-outline {
    -webkit-text-stroke: 1px #f9f7f3;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #eddea4;
  }

  .text-outline-red {
    -webkit-text-stroke: 1px #ff1654;
  }
}
